.App {
  text-align: center;
  height: 100vh;
  display: flex;
  place-items: center;
  background-color: gray;
  flex-direction: row;

}

.Main {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  top: 0;
  overflow: auto;
}

.Content {
  padding: 10px;
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;
  top: 0;
  overflow: auto;
}