.App {
    text-align: center;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: gray;
    flex-direction: row;
  
  }
.Layout {
    max-width: 300px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 16px;
    background-color: #FEFEFE;
    text-align: left;
    overflow: hidden;
  }